@import url("//fonts.googleapis.com/css2?family=Rubik&family=Space+Mono&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "Rubik", sans-serif, serif
}

html{
    scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body {
    /* font-family: 'Courier New', monospace; */
    margin: 0;
}

.jumpPoint::before {
	content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}



a {
  text-decoration: none;
  color:white;
}

.bar{
    display: flex;
}


header{
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    background-color:rgb(3,16,28); /* haha nice*/
    color: white;
    justify-content: flex-end;
}

#myNameOnHeader {
    flex: 1;
    font-size: 45px;
    margin: 0%;
    display: inline-block;
    justify-content: center;
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 20px;
}
/* header li{
    display: flex;
    flex: 1;
} */

.site-navigation {
    display: inline-block;
    flex: 1;
    margin: 0; 
    padding: 0;
    list-style: none;
}

#navbar{
    list-style: none;
    justify-content: right;
    /* padding: 22px; */
    padding-top: 15px;
    display: flex;
    margin: 0;
    padding-right: 10px;
    margin-right: 10px;

}
#about{
    padding-right: 30px;
}
#projects{
    padding-right: 30px;
}
#contact{
    padding-right: 0px;
} 

#navbar li a{
    transition: all 0.25s ease 0s;
}
#navbar li a:hover{
    color: lightskyblue;
}

/* Main Content*/
.bodyArea{
    color: white;
    margin-top: 50px;
    display: flex;
}

.introduction{
    background-image: url(xwing-bg.jpeg);
    /* background-position: 0px 0px; */
    background-position: top center;
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 25px;
    padding-top: 20px;
    display: block;
    background-color: transparent;
    text-align: center;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding-bottom: 40%;
}

.part1{
    text-align: center;
    display: block;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(232, 242, 157);
    color:rgb(3,16,28);
    font-size: 24px;
}

.part2{
    display: block;
    padding: 5px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: skyblue;
    color: black;
    text-align: left;
    font-size: 24px;
    
}

#projectsTitle{
    text-align: center;
    color: black;
}
.part3{
    display: block;
    padding-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(232, 242, 157);
    color:rgb(3,16,28);
    text-align: center;
    font-size: 24px;
}

#email-link{
    color:darkblue;
}
#linkedinLink{
    color:darkblue;
}
#githubLink{
    color:darkblue;
}

.credits{
    background-color:rgb(3,16,28);
    text-align: center;
    color: white;   
    font-size: 12px;
}
#cred-link{
    color:skyblue;
}